# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.db
*.db-journal

# Node / VS Code Extension
node_modules/
dist/
out/
*.vsix

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
